.header {
    height: 50px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background: #002b5c;
}
.cards {
    margin-top: 50px;

    .card {
        width: 250px;
        height: 150px;
        color: #fff;
        background: gray;
    }
}

