<mat-toolbar>
    <h1>CV List and Folders</h1>
</mat-toolbar>

<div class="content">
    <div class="cv-layout">
        <mat-card class="cv-card">
            <mat-card-title>UX</mat-card-title>
        </mat-card>
        <mat-card class="cv-card">
            <mat-card-title>UI</mat-card-title>
        </mat-card>
        <mat-card class="cv-card">
            <mat-card-title>FE</mat-card-title>
        </mat-card>
    </div>
   
    <div class="cv-layout">
        <mat-card class="cv-card">
            <mat-card-title>BE</mat-card-title>
        </mat-card>
        <mat-card class="cv-card">
            <mat-card-title>QA</mat-card-title>
        </mat-card>
        <mat-card class="cv-card">
            <mat-card-title>CA</mat-card-title>
        </mat-card>
    </div>
</div>