<mat-toolbar>
    <h1>CV List and Folders</h1>
</mat-toolbar>

<div class="content">
    <div fxLayout="row wrap"  fxLayoutAlign="start center">
        <!-- <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%"> -->
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>UX</mat-card-title>
            </mat-card>
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>UI</mat-card-title>
            </mat-card>
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>FE</mat-card-title>
            </mat-card>
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>BE</mat-card-title>
            </mat-card>
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>QA</mat-card-title>
            </mat-card>
            <mat-card fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-card-title>CA</mat-card-title>
            </mat-card>
        <!-- </div> -->
    </div>
</div>