<div class="header">
    <h1>Interviewer</h1>
</div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 1</mat-card-title>
            </mat-card>
        </div>
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 2</mat-card-title>
            </mat-card>
        </div>
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 3</mat-card-title>
            </mat-card>
        </div>
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 4</mat-card-title>
            </mat-card>
        </div>
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 5</mat-card-title>
            </mat-card>
        </div>
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4">
                <mat-card-title>Interviewer 6</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>