<div class="header">
    <h1>Interviewer</h1>
</div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
        <div class="cards" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%" fxLayoutAlign="center center" *ngFor="let team of teams">
            <mat-card fxLayoutAlign="center center" class="card mat-elevation-z4" (click)="redirectToResult()">
                <mat-card-title>{{ team.name }}</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>