<mat-toolbar>
    <h1>Interviewer</h1>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div>
        <mat-card>
            <mat-card-title>Person 1</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Person 2</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Person 3</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Person 4</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Person 5</mat-card-title>
        </mat-card>
        <mat-card>
            <mat-card-title>Person 6</mat-card-title>
        </mat-card>
    </div>
</div>