.container {

    .header {
        height: 50px;
        background: #7ea9cf;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #002b5c;
            font-size: 32px;

            mat-icon {
                padding: 10px;
                font-size: 32px;
                text-align: center;
            }
        }
    }

    .application {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        .section-right img {
            width: 500px;
            height: 550px;
            margin-top: 22px;
        }

        .section-left {
            width: 50%;

            h1 {
                font-size: 50px;
                padding-bottom: 32px;
            }

            p {
                width: 70%;
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 15px;
            }

            .btn {
                width: 90px;
                height: 30px;
                font-size: 18px;
                color: #002b5c;
                cursor: pointer;
                background: #7ea9cf;
                border: 1px solid #7ea9cf;

                &:hover {
                    color: #002b5c;
                    background: #fff;
                    border: 1px solid #7ea9cf;
                }
            }
        }
    }
}

@media screen and (max-width: 1070px) {
    .container {
        .application {
            flex-direction: column-reverse;

            .section-left {
                padding-top: 50px;

                p {
                    font-size: 22px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .header{
            padding-top: 8px;
        }
        .application {
            flex-direction: column-reverse;

            .section-left {
                padding-top: 30px;

                h1 {
                    font-size: 32px;
                    font-weight: bold;
                    padding-bottom: 7px;
                }

                p {
                    font-size: 18px;
                }
            }

            .section-right img {
                width: calc(100vh - 250px);
            }
        }
    }
}