.container {

    .header {
        height: 50px;
        border-radius: 5px;
        background: #7ea9cf;
        box-shadow: 3px 5px lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #ffffff;
            font-size: 32px;

            mat-icon {
                padding: 10px;
                font-size: 32px;
                text-align: center;
            }
        }
    }

    .application {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .section-right img {
            width: 80%;
            margin-top: 22px;
        }

        .section-left {
            padding-top: 25px;

            h1 {
                font-size: 50px;
                padding-bottom: 32px;
            }

            p {
                width: 70%;
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 15px;
            }

            .btn {
                color: #ffffff;
                background: #7ea9cf;
            }
        }
    }
}