<div class="form-container">
    <div class="application-form">
        <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contact Number</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select Position</mat-label>
                <mat-select>
                    <mat-option value="one">User Experience</mat-option>
                    <mat-option value="two">User Interface</mat-option>
                    <mat-option value="two">Front End</mat-option>
                    <mat-option value="two">Back End</mat-option>
                    <mat-option value="two">Quality Assurance</mat-option>
                    <mat-option value="two">Business Analyst</mat-option>
                </mat-select>
            </mat-form-field>
            <!--        <mat-form-field>-->
            <!--            <button mat-button class="btn">-->
            <!--                <span>Apply</span>-->
            <!--            </button>-->
            <!--        </mat-form-field>-->
        </div>
    </div>
</div>