<div class="form-container">
    <div class="application-form">
        <form action="">
            <label>Your Name</label>
            <input type="text" name="fullname" placeholder="Your Name">
            <label>Your Email</label>
            <input type="email" name="email" placeholder="Your Email">
            <label>Contact Number</label>
            <input type="number" name="contactNumber" placeholder="Contact Number">
            <label for="position">Position</label>
            <select id="position">
                <option value="position">Select Position</option>
                <option value="position">User Experience</option>
                <option value="position">User Interface</option>
                <option value="position">Front End</option>
                <option value="position">Back End</option>
                <option value="position">Quality Assurance</option>
                <option value="position">CA</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>