.main-header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

mat-sidenav {
    margin: 16px;
    width: 280px;
    border-right: none;
    background: #7ea9cf;
    color: #ffffff;
    border-radius: 10px;
    padding: 16px;

    .social-medial {
        font-size: 32px;
        padding-top: 150px;
        display: flex;
        justify-content: space-evenly;
    }
}

.content {
    text-align: center;

    .logo {
        width: 100%;

        img {
            width: 200px;
        }
    }
}

mat-divider {
    border: 1px solid #ffffff;
    margin: 25px;
}

.content {
    padding-top: 24px;
    padding-left: 24px;
}

mat-sidenav-container {
    height: calc(100vh - 60px);
}

.menu-sub-buttons {
    margin-left: 36px
}