<div class="main-header">
    <div class="button">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
    </div>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <div class="logo">
            <img src="../../assets/img/logo.png" alt="logo">
        </div>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/cv">
            <mat-icon>assignment</mat-icon>
            <span>CV List and Folders</span>
        </button>
        <button mat-button class="menu-button" routerLink="/interviewer">
            <mat-icon>question_answer</mat-icon>
            <span>Interviewer</span>
        </button>
        <button mat-button class="menu-button" routerLink="/result">
            <mat-icon>score</mat-icon>
            <span>Result Declaration</span>
        </button>
        <div class="social-medial">
            <fa-icon [icon]="faFacebookSquare"></fa-icon>
            <fa-icon [icon]="faTwitterSquare"></fa-icon>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content" fxFlex="97">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>