.main-header {
  height: 50px;
  padding-top: 10px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-sidenav {
  margin: 16px;
  width: 280px;
  border-right: none;
  background: #7ea9cf;
  color: #002b5c;
  border-radius: 10px;
  padding: 16px;
  text-align: center;

  .logo {
    width: 100%;
    background: transparent;

    img {
      width: 200px;

    }
  }
}

mat-divider{
  border: 1px solid white;
  margin: 25px;
}

.content {
  padding-top: 24px;
  padding-left: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 60px);
}